.sub-menu {
    color: #fff;
    text-transform: uppercase;
    background: rgba(121, 42, 42, 0);
    font-size: 1.1em;
}

mat-input-container label {
    color: #1bbc9b !important;
}


/* When the input is focused */

mat-input-container.mat-input-focused label {
    color: white !important;
}

.input-pesquisa {
    width: 12em;
    font: inherit;
    margin: 0;
    padding: 0;
    background-color: transparent !important;
    outline: none;
    border-bottom-color: rgba(255, 255, 255, 0.82) !important;
    ;
    border-top: none;
    border-left: none;
    border-right: none;
}

.mat-focused .placeholder {
    display: none;
}

.txt-input-pesquisa {
    font-size: 16px;
    font-weight: 400;
    color: #fff !important;
    padding: 2px 0;
}

::-webkit-input-placeholder {
    color: #fff !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff !important;
}

:-ms-input-placeholder {
    color: #fff !important;
}

.btn-menu-item {
    font-size: 13px;
    right: 2px;
}

.icon-menu-item {
    width: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #5a5858;
}



/* label color */
.input-field label {
    color: #fff !important;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #fff !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #fff !important;
  }


  .menu-icon {
      font-size: 28px;
      color: #ffff;
  }