<app-head-bar [style.xs]="{display: 'none'}" [style.sm]="{display: 'none'}"></app-head-bar>
<form [formGroup]="form" style="margin-top: 50px;background-color: #362f50c4;" fxFlex="100">
    <div fxLayout="row">
        <div fxLayout="column" fxFlex>
            <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 20px;">
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="35" fxFlex.lg="40" fxFlex.xl="40">
                    <mat-input-container fxFlex="95">
                        <input [(ngModel)]="post.title" matInput placeholder="Titulo" type="text" formControlName="title">
                    </mat-input-container>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="35" fxFlex.lg="40" fxFlex.xl="40">
                    <mat-input-container fxFlex="95">
                        <input [(ngModel)]="post.category" matInput placeholder="Categoria" type="text" formControlName="category">
                    </mat-input-container>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="70" fxFlex.lg="80" fxFlex.xl="80">
                    <tag-input style="margin: 0px 18px 0px 0px;" [(ngModel)]="post.tags" 
                               [onlyFromAutocomplete]="false" formControlName="tags" [secondaryPlaceholder]="'Informe as tags'">
                        <tag-input-dropdown [showDropdownIfEmpty]="true" [limitItemsTo]="5" [autocompleteItems]="tags">
                        </tag-input-dropdown>
                    </tag-input>
                </div>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 25px 25px 10px 20px;">
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="35" fxFlex.lg="40" fxFlex.xl="40">
                    <mat-checkbox [(ngModel)]="post.active" formControlName="active">Ativo</mat-checkbox>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="35" fxFlex.lg="40" fxFlex.xl="40">
                    <mat-checkbox [(ngModel)]="btnConfiguracao" formControlName="btnConfiguracao">Outras configurações</mat-checkbox>
                </div>
            </div>
            <span *ngIf="btnConfiguracao">
                <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding: 20px;">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="35" fxFlex.lg="40" fxFlex.xl="40">
                        <mat-input-container fxFlex="95">
                            <input [(ngModel)]="post.continent" matInput placeholder="Continente" type="text" formControlName="continent">
                        </mat-input-container>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="35" fxFlex.lg="40" fxFlex.xl="40">
                        <mat-input-container fxFlex="95">
                            <input [(ngModel)]="post.country" matInput placeholder="Pais" type="text" formControlName="country">
                        </mat-input-container>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="35" fxFlex.lg="40" fxFlex.xl="40">
                        <mat-input-container fxFlex="95">
                            <input [(ngModel)]="post.state" matInput placeholder="Estado" type="text" formControlName="state">
                        </mat-input-container>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="35" fxFlex.lg="40" fxFlex.xl="40">
                        <mat-input-container fxFlex="95">
                            <input [(ngModel)]="post.city" matInput placeholder="Cidade" type="text" formControlName="city">
                        </mat-input-container>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top:50px;">
        <div fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="70" fxFlex.lg="80" fxFlex.xl="80" [froalaEditor] [(froalaModel)]="post.description" formControlName="description"></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="margin-top:50px;">
        <button (click)="submit()" [disabled]="!form.valid" mat-button mat-raised-button class="green">
                  {{!post._id ? 'Adicionar Postagem' : 'Editar Postagem'}}
        </button>
    </div>
</form>

<div class="btn-right-size btn-right-top">
    <smd-fab-speed-dial [(open)]="open" [direction]="top" [animationMode]="animationMode" [fixed]="fixed">
        <smd-fab-trigger>
            <button mat-fab class="green"><mat-icon>settings</mat-icon></button>
        </smd-fab-trigger>

        <smd-fab-actions>
            <button mat-mini-fab class="green" (click)="copyVideo()"
                    matTooltip="Copiar estilo para video" matTooltipPosition="above">
                <mat-icon>&#xE04A;</mat-icon>
            </button>
            <button mat-mini-fab class="green" (click)="copyImg()"
                    matTooltip="Copiar estilo para imagem" matTooltipPosition="above">
                <mat-icon>&#xE412;</mat-icon>
            </button>
            <button mat-mini-fab class="green" (click)="removeClassVideo()" 
                    matTooltip="Continuar após add video" matTooltipPosition="above">
                <mat-icon>&#xE04C;</mat-icon>
            </button>
            <button mat-mini-fab class="green" (click)="copyPaddingTxt()"
                    matTooltip="Copiar estilo para texto centralizado" matTooltipPosition="above">
                <mat-icon>&#xE165;</mat-icon>
            </button>          
        </smd-fab-actions>
    </smd-fab-speed-dial>
</div>