li {
    width: 100%;
    list-style-type: none;
    float: none;
    line-height: 48px; 
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
}

ul {
    -webkit-padding-start: 0px;
    width: 100%;
    list-style-type: none;
}

a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    text-decoration: none;
    padding: 0 32px;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
}