.menu-sidenav {
  background-color: #e91e63;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 8px;
}

.sidenav-container {
    z-index: 0;
    display: flex;
}

.sidenav {
    width: 75%;
    max-width: 400px;
    position: fixed;
    top: 50px;
    bottom: 0
}

.toolbar-sidenav {
    background-color: #303030;
    color: #fff;
}

.btn-close-sidenav{
    background-color: #303030;
    color: #fff;
}

.mat-sidenav-content {
    width: 100%;
}

/* .mat-sidenav.mat-sidenav-opened:not(.mat-sidenav-side), .mat-sidenav.mat-sidenav-opening:not(.mat-sidenav-side) { 
 height: 100vh;
  
} */
