<div class="menu-sidenav">
    <button md-icon-button md-button (click)="sidenav.open()">
        <md-icon style="color: #fff">menu</md-icon>
    </button>
    <button md-button md-mini-fab color="default" class="btn-close-sidenav" (click)="sidenav.close()">
        <md-icon style="color: #fff">arrow_back</md-icon>
  </button>
</div>
<md-sidenav-container class="sidenav-container">
  <md-sidenav mode="over" #sidenav class="sidenav">
    <app-sidenav-sub-menu></app-sidenav-sub-menu>
  </md-sidenav>
</md-sidenav-container>

  <div fxLayout="row" fxFlex="100" style="margin-top: 50px;">
    <app-post-mobile-page></app-post-mobile-page>
  </div>