<div fxLayout="row" fxFlex="100">
  <div fxLayout="column">
    <div>
      <h3>Titulo</h3>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>

    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>

    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>

    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
    <div>
      <h5>TEXTO</h5>
    </div>
  </div>
</div>