
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

.snapchat {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #1bbc9b;
    margin: 0px;
    border-radius: 1px;
}