<div class="user-view">
  <div class="background" style="background: -webkit-gradient(linear, left top, right top, from(#13011d), to(rgb(73, 193, 169))) no-repeat !important; 
  background: -moz-linear-gradient(top, #13011d, rgb(73, 193, 169));">
      <!-- <img src="../../../assets/images/banner-mobile.jpg" class="img"> -->
  </div>
  <span><img class="circle" src="../../../assets/images/people/thais-mobile.jpg"></span>
  <span class="name">Thais Trindade</span>
  <span class="email">thaistrindade@hotmail.com</span>
</div>
