<form [formGroup]="form">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" class="color-touch" 
        style="background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(rgba(0, 0, 0, 0.13))) no-repeat !important; 
        background: -moz-linear-gradient(top, #ffffff, rgba(0, 0, 0, 0.13));">
    <mat-card fxFlex.gt-sm="40" fxFlex.gt-md="20" fxFlex="100" class="card-login">
      <mat-card-header>
        <mat-card-title>
          <h3 class="title-login">Iniciar sessão</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-input-container fxFlex="90">
            <input matInput placeholder="Email" type="email" formControlName="email">
            <mat-error *ngIf="form.controls.email.hasError('required')">
              E-mail é obrigatório
            </mat-error>
            <mat-error *ngIf="form.controls.email.invalid && !form.controls.email.hasError('required')">
              E-mail inválido
            </mat-error>
          </mat-input-container>
          <mat-input-container fxFlex="90">
            <input matInput placeholder="Introduza a palavra-passe" type="password" formControlName="password">
            <mat-error *ngIf="form.controls.password.hasError('required')">
              Palavra-passe é obrigatório
            </mat-error>
            <mat-error *ngIf="form.controls.password.hasError('minlength')">
              Palavra-passe deve obter no minimo 6 caracteres
            </mat-error>
            <mat-error *ngIf="form.controls.password.hasError('maxlength')">
              Palavra-passe deve obter no maximo 20 caracteres
            </mat-error>
          </mat-input-container>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-button routerLink="." style="color: #16a086; font-size: 16px;">
            Esqueceu sua senha ?
          </button>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="90">
          <button (click)="submit()" [disabled]="!form.valid" mat-button mat-raised-button class="green">
                  Entrar
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</form>