<button mat-icon-button shareButton="facebook" [sbUrl]="url" [sbDescription]="description" [sbTitle]="title">
  <mat-icon svgIcon="facebook_blue" class="icon-share"></mat-icon>
</button>
<button mat-icon-button shareButton="twitter" [sbUrl]="url" [sbDescription]="description" [sbTitle]="title">
  <mat-icon svgIcon="twitter_blue" class="icon-share"></mat-icon>
</button>
<button mat-icon-button shareButton="whatsapp" [sbUrl]="url" [sbDescription]="description" [sbTitle]="title">
  <mat-icon svgIcon="whatsapp" class="icon-share"></mat-icon>
</button>
