<div fxLayout="row" fxLayoutAlign="start center" style="margin-bottom: 40px;padding-left: 40px;">
  <div fxFlex.sm="90" fxFlex.md="90" fxFlex.lg="80" fxFlex.xl="80">
    <div fxFlex style="margin-top: 20px;">
      <div class="cristian"></div>
      <div class="desc">
        <a href="" class="name">
           Cristian <3 
        </a>
            <i style="padding: 2px">Desenvolvedor de sistemas, alma gêmea, marido. Parte fundamental do blog, e da vida da Tha, claro!</i>
        </div>
      </div>
    </div>
  </div>