<div fxLayout="row" fxLayoutAlign="start center" style="padding-left: 40px;">
  <md-card fxFlex.sm="90" fxFlex.md="90" fxFlex.lg="80" fxFlex.xl="80">
    <img md-card-image src="../../../assets/images/people/thais-home.jpg">
    <md-card-content>
      <div fxLayout="row" fxLayoutAlign="center center">
          <a href="" class="redes-sociais-thais">
                <img src="../../assets/images/redes-sociais/snapchat.svg" class="icon-rede-social rede-social-hover-opacity">
          </a>
          <a href="" class="redes-sociais-thais">
                <img src="../../assets/images/redes-sociais/facebook.svg" class="icon-rede-social rede-social-hover-opacity">
              </a>
          <a href="" class="redes-sociais-thais">
                <img src="../../assets/images/redes-sociais/instagram.svg" class="icon-rede-social rede-social-hover-opacity">
          </a>
          <a href="" class="redes-sociais-thais">
                <img src="../../assets/images/redes-sociais/twitter.svg" class="icon-rede-social rede-social-hover-opacity">
              </a>
          <a href="" class="redes-sociais-thais">
                <img src="../../assets/images/redes-sociais/spotify.svg" class="icon-rede-social rede-social-hover-opacity">
          </a>
      </div>
    </md-card-content>
    <md-card-actions>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button md-button>Saiba mais</button>
      </div>
    </md-card-actions>
  </md-card>
</div>