

.btn-saiba-mais {
    border: 1px solid #5a5858;
    font-size: 1em;
    font-weight: 500;
}


@media only screen and(max-width: 700px) {
    .hide-text{  
        margin: 10px 0px 10px 0px;
        height: 10px;;
        max-height: 35px;
        background-color: #fffffff2;
        box-shadow: -4px -30px 9px 20px rgba(255, 255, 255, 0.9);
        -webkit-filter: blur(5px);
        filter: blur(1px);
    }
}

@media only screen and (min-width: 701px){
    .hide-text{  
        margin: -55px -2px 2px -2px;
        height: 60px;
        max-height: 60px;
        background-color: #fffffff2;
        box-shadow: 0px -66px 8px 8px rgba(255, 255, 255, 0.92);
        -webkit-filter: blur(5px);
        filter: blur(1px);
    }
}


