<div *ngIf="posts">
  <h1 mat-dialog-title>Postagens inativas</h1>
  <div mat-dialog-content>
      <mat-list>
          <mat-list-item *ngFor="let post of posts">
            <h4 mat-line style="margin: 0px;">{{post.title}}
                <button mat-icon-button aria-label="editar" (click)="pageEditPost(post._id)">
                    <mat-icon style="color:#5a5858">&#xE254;</mat-icon>
                </button>
            </h4>       
            <p mat-line style="margin: 0px 0px 15px;"> {{post.date | date: 'dd/MM/yyyy'}} </p>
          </mat-list-item>     
        </mat-list>     
  </div>
  <div mat-dialog-actions style="float: right;">
    <button mat-button mat-raised-button mat-dialog-close class="green">Fechar</button>
  </div>
</div>