
:host/deep/ .mat-input-underline {
        background-color: #424242 !important;    /* replace this color with your accent color hex code */
    }
    /deep/ .full-width .mat-form-field-placeholder{
        color: #424242 !important;
    }
    
    /deep/ .full-width .mat-form-field-underline .mat-form-field-ripple{
        background-color:#424242 !important;
    }

    /deep/ .mat-toolbar {
        min-height: 48px !important;
        height: 48px !important;
    }

    /deep/ .mat-toolbar-row {
        height: 48px !important;
    }

    .placeholder {
        color: #424242;
        font-size: 0.8em;
    }

      .full-width {
        width: 100%;
      }

      .icon-search {
        color: #ffff;
    }

    .category-icon {
        height: 18px;
        width: 18px;
        padding-left: 4px;
    }

    .home-icon {
        font-size: 28px;
        height: 28px;
        width: 23px;
    }

