<div *ngIf="posts?.length == 0 && !mobile" fxLayoutAlign="center center" fxFlex>
  <mat-spinner [diameter]="70" [color]="'warn'"></mat-spinner>
</div>
<div *ngIf="posts?.length == 0 && mobile" fxLayoutAlign="center center" fxFlex>
  <mat-spinner class="spinner" [diameter]="40" [color]="'warn'"></mat-spinner>
</div>
<div id="post_id">
  <div *ngFor="let post of posts | paginate: {
    itemsPerPage: 4,
    currentPage: page,
    totalItems: posts.length }" fxLayout="row">
    <mat-card fxFlex="100" [@fadeIn]="fadeIn" style="margin-bottom: 50px;" *ngIf="!mobile">
      <div fxLayout="column">
        <div fxLayout="row">
          <div fxFlex="10">
            <button mat-fab class="btn-category" [routerLink]="['/post/categoria', post.category]">
              <mat-icon svgIcon="{{post.category}}" class="icon-fab-category"></mat-icon>
            </button>
          </div>
          <div fxFlex>
            <div>
              <a [routerLink]="['/post/categoria', post.category]" class="txt-category-post">{{post.category}}</a>
            </div>
            <div>
              <a [routerLink]="['/post', post._id]" class="title-post"> {{post.title}}</a>
            </div>
          </div>
        </div>
      </div>
      <mat-card-content *ngIf="post._id">
        <div id="{{post._id}}" [ngClass]="{'block-with-text': idPost==null}" [innerHTML]="post.description | sanitizeHtml"></div>
        <app-hide-text [idPost]=idPost [idDiv]="post._id"></app-hide-text>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex class="line-col3"></div>
        </div>
        <div fxLayout="row" style="padding: 4px 20px 4px 20px;">
          <div fxLayoutAlign="start center" fxFlex="70">
            <div fxLayout="column">
              <span class="txt-mais-posts">Veja mais posts sobre</span>
              <div fxLayout="row" fxLayoutAlign="start center">
                <span *ngFor="let tag of post.tags">
                  <a class="sobre-posts" [routerLink]="['/post/tags', tag]">#{{tag}}</a>
                </span>
              </div>
            </div>
          </div>
          <div fxLayoutAlign="end initial" fxFlex="30">
            <button-shared [idPost]="post._id"></button-shared>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="end center">
              <div fxFlex>
                <button *ngIf="logged" mat-icon-button aria-label="editar" (click)="pageEditPost(post._id)">
                  <mat-icon style="color:#5a5858">&#xE254;</mat-icon>
                </button>
                <button *ngIf="logged" mat-icon-button (click)="openSnackBarDelete(post._id)">
                  <mat-icon style="color:#d63150">&#xE92B;</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
    <div class="post-mobile" *ngIf="mobile" [@fadeIn]="fadeIn">
      <div fxLayout="column">
        <div fxLayout="row" class="title-mobile">
          <div fxFlex style="padding-left: 5px;">
            <div>
              <a [routerLink]="['/post/categoria', post.category]" class="txt-category-post">{{post.category}}</a>
            </div>
            <div style="margin-top: 8px">
              <a [routerLink]="['/post', post._id]" class="title-post"> {{post.title}}</a>
            </div>
          </div>
        </div>
      </div>
      <div id="{{post._id}}" [ngClass]="{'block-with-text': idPost==null}" [innerHTML]="post.description | sanitizeHtml"></div>
      <app-hide-text [idPost]=idPost [idDiv]="post._id"></app-hide-text>
      <div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex class="line-col3"></div>
        </div>
        <div fxLayout="row" style="margin-top: -10px;">
            <div fxFlex fxLayoutAlign="center center">
                <span class="date-post">Postado em {{post.date | date: 'dd'}} de {{post.date | date:'MM'}} de {{post.date | date: 'yyyy'}}</span>
            </div>
            <div fxFlex="40">
              <button-shared [idPost]="post._id"></button-shared>
            </div>
        </div>
        <div fxLayout="row" style="padding: 15px 20px 15px;">
          <div fxLayoutAlign="start center" fxFlex>
            <div fxLayout="column">
              <span class="txt-mais-posts">Veja mais posts sobre</span>
              <div fxLayout="row wrap" fxLayoutAlign="start center">
                <span *ngFor="let tag of post.tags">
                  <a class="sobre-posts" [routerLink]="['/post/tags', tag]">#{{tag}}</a>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <app-disqus *ngIf="idPost && posts?.length > 0" [idPost]="idPost"></app-disqus>
  <div fxLayout="row" *ngIf="posts.length > 0 && idPost == null">
    <div fxFlex fxLayoutAlign="center center">
      <pagination-controls (pageChange)="page = updateTablePosts($event)" autoHide="true" maxSize="9" previousLabel="" nextLabel=""></pagination-controls>
    </div>
  </div>
</div>