<div id="post_id">
  <div *ngFor="let post of postsRender" class="animated animatedFadeInUp fadeInUp" fxLayout="row">
    <mat-card fxFlex="100" style="margin-bottom: 50px;" [style.xs]="{display: 'none'}" [style.sm]="{display: 'none'}">
      <div fxLayout="column">
        <div fxLayout="row">
          <div fxFlex="10">
            <button mat-fab class="btn-category" [routerLink]="['/post/categoria', post.category]">
              <mat-icon svgIcon="{{post.category}}" class="icon-fab-category"></mat-icon>
            </button>
          </div>
          <div fxFlex>
            <div>
              <a [routerLink]="['/post/categoria', post.category]" class="txt-category-post">{{post.category}}</a>
            </div>
            <div>
              <a [routerLink]="['/post', post._id]" class="title-post"> {{post.title}}</a>
            </div>
          </div>
          <!-- <div fxFlex>width="97" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
            <div class="fb-share-button" data-href="postURL(post._id)" width="97" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.thaistrindade.com%2F%23%2Fpost%2F5988b328cc111f0d60ccf5ef&amp;src=sdkpreparse">Compartilhar</a></div>
        
         
        </div> -->

          <!-- <social-share><share-button social='facebook'></share-button></social-share> -->
        </div>
      </div>
      <mat-card-content>
        <div [innerHTML]="post.description | sanitizeHtml"></div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex class="line-col3"></div>
        </div>
        <div fxLayout="row" style="padding: 4px 20px 4px 20px;">
          <div fxLayoutAlign="start center" fxFlex>
            <div fxLayout="column">
              <span class="txt-mais-posts">Veja mais posts sobre</span>
              <div fxLayout="row" fxLayoutAlign="start center">
                <span *ngFor="let tag of post.tags">
                <a class="sobre-posts" [routerLink]="['/post/tags', tag]">#{{tag}}</a>
              </span>
              </div>
            </div>
          </div>
          <div fxLayoutAlign="end center" fxFlex>
            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="end center">
                <div fxFlex>
                  <button *ngIf="logged" mat-icon-button aria-label="editar" (click)="pageEditPost(post._id)"><mat-icon style="color:#5a5858">&#xE254;</mat-icon></button>
                  <button *ngIf="logged" mat-icon-button (click)="openSnackBarDelete(post._id)"><mat-icon style="color:#d63150">&#xE92B;</mat-icon></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
    <div class="post-mobile" [style.md]="{display: 'none'}" [style.lg]="{display: 'none'}" [style.xl]="{display: 'none'}" [style.xxl]="{display: 'none'}">
      <div fxLayout="column">
        <div fxLayout="row" class="title-mobile">
          <div fxFlex style="padding-left: 5px;">
            <div>
              <a [routerLink]="['/post/categoria', post.category]" class="txt-category-post">{{post.category}}</a>
            </div>
            <div style="margin-top: 8px">
              <a [routerLink]="['/post', post._id]" class="title-post"> {{post.title}}</a>
            </div>
          </div>
        </div>
      </div>
      <div [innerHTML]="post.description | sanitizeHtml"></div>
      <div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex class="line-col3"></div>
        </div>
        <div fxLayout="row" style="padding: 15px 20px 15px;">
          <div fxLayoutAlign="start center" fxFlex>
            <div fxLayout="column">
              <span class="txt-mais-posts">Veja mais posts sobre</span>
              <div fxLayout="row wrap" fxLayoutAlign="start center">
                <span *ngFor="let tag of post.tags">
                    <a class="sobre-posts" [routerLink]="['/post/tags', tag]">#{{tag}}</a>
                  </span>               
              </div>
             
            </div>
          </div>
          <!-- <div fxLayoutAlign="end center" fxFlex>
            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="end center">
                <div fxFlex>
                  <button *ngIf="logged" md-icon-button aria-label="editar" (click)="pageEditPost(post._id)"><md-icon style="color:#5a5858">&#xE254;</md-icon></button>
                  <button *ngIf="logged" md-icon-button (click)="openSnackBarDelete(post._id)"><md-icon style="color:#d63150">&#xE92B;</md-icon></button>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- <div fxLayout="row wrap"> -->
    <!-- <disqus [identifier]="post._id"></disqus>  -->

    <!-- <div id="disqus_thread"></div>
    <script id="dsq-count-scr" src="//thaistrindade.disqus.com/count.js" async></script>                          -->
    <!-- </div> -->
  </div>
  <div fxLayout="row" *ngIf="posts.length > 0 && idPost == null">
    <div fxFlex fxLayoutAlign="center center">
      <mat-paginator [length]="posts.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="updateTablePosts(pageEvent = $event)">
      </mat-paginator>
    </div>
  </div>
</div>