/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


@media only screen and (max-width: 400px) {
    a.title-post {
        color: #16a086;
        font-size: 1.3em;
        font-weight: 600;
        line-height: 15px;
        text-decoration: none;
    }
    a.txt-category-post {
        font-size: 1.2em;
        font-weight: 400;
        color: #908f8f;
        text-decoration: none;
    }

    .block-with-text {
        overflow: hidden;
        position: relative;
        max-height: 400px;
    }
}

@media only screen and (min-width: 401px) and(max-width: 700px) {
    a.title-post {
        color: #16a086;
        font-size: 1.4em;
        font-weight: 900;
        line-height: 39px;
        text-decoration: none;
    }
    a.txt-category-post {
        font-size: 1.3em;
        font-weight: 500;
        color: #908f8f;
        text-decoration: none;
    }

    .block-with-text {
        overflow: hidden;
        position: relative;
        max-height: 510px;
    }
}

@media only screen and (min-width: 701px) and(max-width: 1400px){
    a.title-post {
        color: #5a5858;
        font-size: 2.5em;
        padding-left: 2px;
        font-weight: 900;
        line-height: 39px;
        text-decoration: none;
    }
    a.txt-category-post {
        font-size: 16px;
        font-weight: 500;
        color: #908f8f;
        text-decoration: none;
    }
    .btn-category {
        background-color: #1bbc9b;
        box-shadow: none;
    }
    
    .block-with-text {
        overflow: hidden;
        position: relative;
        max-height: 900px;
    }
}

@media only screen and (min-width: 1400px){
    a.title-post {
        color: #5a5858;
        font-size: 2.5em;
        padding-left: 2px;
        font-weight: 900;
        line-height: 39px;
        text-decoration: none;
    }
    a.txt-category-post {
        font-size: 16px;
        font-weight: 500;
        color: #908f8f;
        text-decoration: none;
    }
    .btn-category {
        background-color: #1bbc9b;
        box-shadow: none;
    }
    
    .block-with-text {
        overflow: hidden;
        position: relative;
        max-height: 1300px;
    }
}


a:hover.txt-category-post {
    color: #5a5858;
}

.sobre-posts {
    font-size: 13px;
    background: #b6b1a5;;
    text-decoration: none;
    color: #ffffff;
    line-height: 14px;
    padding: 4px 8px 4px;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
    display: inline-block;
    border-radius: 3px;
    margin: 1px;
}

.sobre-posts:hover {
    opacity: 0.80;
}


.txt-mais-posts {
    font-size: 14px;
    padding: 2px;
    line-height: 25px;
    color: #5a5858;
    font-weight: 600;
    text-transform: uppercase;
}

a:hover.title-post {
    color: #16a086;
}


.line-col3 {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #cfcfcf;
}


.post-mobile {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 0vh auto 40px;
}

.title-mobile {
    padding: 0px 2px 0px 8px;
    margin-top: 20px;
}

.icon-fab-category {
    font-size: 36px;
    height: 36px;
    width: 36px; 
    margin: -5px;
}

iframe .video-post{
    width: 100% !important;
    height: 440px !important;
}

/deep/ .ngx-pagination{
    text-align: center;
    color: #666;
  }
  
  /deep/ .ngx-pagination .current{
    background: #1bbc9b !important;
    border-radius: 5px;
  }


 
.block-with-text:before {
    position: absolute;
    right: 0px;
    bottom: 0;
    background-color: #ffffff;
    padding: 0 0px 0 0.25em;
}



