<div fxLayout="row" fxLayoutAlign="start center" style="padding-left: 40px; margin-bottom: 45px;">
  <div fxFlex.sm="90" fxFlex.md="90" fxFlex.lg="80" fxFlex.xl="80">
    <div fxLayout="column">
      <h2 class="youtube">Youtube</h2>
      <ngu-carousel [inputs]="carouselOne" class="carousel">
        <ngu-item NguCarouselItem>
          <a href="https://www.youtube.com/watch?v=x76zhIOGOzA&t=36s">
            <img src="../../../../../assets/images/youtube/intercambioIrlanda.jpg" class="img-carousel">
          </a>
        </ngu-item>
        <ngu-item NguCarouselItem>
          <a href="https://www.youtube.com/watch?v=e0HLgB8PdqE&t=85s">
            <img src="../../../../../assets/images/youtube/lugarmaislindodomundo.jpg" class="img-carousel">
          </a>
        </ngu-item>
        <ngu-item NguCarouselItem>
          <a href="https://www.youtube.com/watch?v=EPUN_IxGzlE&t=37s">
            <img src="../../../../../assets/images/youtube/segundoDiaLondres.jpg" class="img-carousel">
          </a>
        </ngu-item>
        <ngu-item NguCarouselItem>
          <a href="https://www.youtube.com/watch?v=UosC4HwmogI&t=36s">
            <img src="../../../../../assets/images/youtube/tourAcomodacao.jpg" class="img-carousel">
          </a>
        </ngu-item>
        <ngu-item NguCarouselItem>
          <a href="https://www.youtube.com/watch?v=MJh6MEpofkY&t=159s">
            <img src="../../../../../assets/images/youtube/vlogDublin.jpg" class="img-carousel">
          </a>
        </ngu-item>
        <span [hidden]="true" NguCarouselPrev></span>
        <span [hidden]="true" NguCarouselNext></span>
      </ngu-carousel>
    </div>
  </div>
</div>