@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700');

.youtube {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #1bbc9b;
    margin: 0px;
    border-radius: 2px;
}

  .img-carousel {
    max-height: 100%; 
    max-width: 100%; width: auto; 
    height: auto; 
    border-radius: 4px;
  }

  .carousel {
    padding: 2px;
  }