<app-head-bar [style.xs]="{display: 'none'}" [style.sm]="{display: 'none'}"></app-head-bar> 
 <div fxLayout="row" fxLayout.xs="column" class="body-post">
  <div fxFlex="30" fxLayoutAlign="center start">
    <div fxLayout="column">
      <h1>Coluna 1</h1>
    </div>
  </div>
  <div fxFlex="60" fxLayoutAlign="center start">
    <div fxLayout="column">
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
      <h1>Coluna 2</h1>
    </div>
  </div>
  <div fxFlex="30" fxLayoutAlign="center start">
    <div fxLayout="column">
      <div fxLayout="row">
       <h1>Coluna 3</h1>
      </div>
      <h1>Coluna 1</h1>
    </div>
  </div>
</div> 