<button *ngIf="!mobile" mat-icon-button [disabled]="txt_search != ''" (click)="search()">
  <mat-icon class="icon-search">search</mat-icon>&nbsp;&nbsp;
</button>
<div *ngIf="showInput && !mobile" fxFlex="100">
  <mat-form-field class="example-full-width" floatPlaceholder="never" #inputForm>
    <input class="input-search input-search-mobile" matInput [matAutocomplete]="auto" [(ngModel)]="txt_search" (ngModelChange)="filter(txt_search)"
      autofocus>
    <button mat-button *ngIf="txt_search" matSuffix mat-icon-button aria-label="Clear" (click)="txt_search=''">
      <mat-icon>close</mat-icon>
    </button>
    <mat-placeholder class="placeholder">Pesquise por titulo ou tags...</mat-placeholder>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getSearch()">
      <mat-optgroup *ngIf="filteredPosts?.length > 0" [label]="'Posts'">
        <mat-option *ngFor="let post of filteredPosts" [value]="post.title">
          <mat-icon svgIcon="{{post.category}}-search" height="22" class="icon-posts"></mat-icon>
          <small>{{ post.title }}</small>
        </mat-option>
      </mat-optgroup>
      <mat-optgroup *ngIf="filteredTags?.length > 0" [label]="'Tags'">
        <mat-option *ngFor="let tag of filteredTags" [value]="tag">
          <mat-icon svgIcon="Hashtag" height="22" class="icon-hashtag"></mat-icon>
          <small>{{ tag }}</small>
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="(filteredPosts == null && filteredTags == null && mobile)" fxFlex="100">
  <mat-spinner class="spinner" [diameter]="40" [color]="'warn'"></mat-spinner>
</div>

<mat-list *ngIf="(filteredPosts != null && filteredTags != null && mobile)" class="mat-list-padding" fxFlex="100">
  <h3 mat-subheader *ngIf="filteredPosts?.length > 0">Posts</h3>
  <mat-list-item *ngFor="let post of filteredPosts" style="height: 60px;" class="list-item" (click)="getSearch(post.title)">
    <mat-icon matListIcon svgIcon="{{post.category}}-search" height="22" class="icon-posts"></mat-icon>
    <h4 mat-line>{{post.title}}</h4>
    <p mat-line> {{post.date | date}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader *ngIf="filteredTags?.length > 0">Tags</h3>
  <mat-list-item *ngFor="let tag of filteredTags" style="height: 40px;" class="list-item" (click)="getSearch(tag)">
    <mat-icon matListIcon svgIcon="Hashtag" height="22" class="icon-hashtag"></mat-icon>
    <h4 mat-line>{{ tag }}</h4>
  </mat-list-item>
</mat-list>