<md-list>
  <h3 md-subheader>Menu</h3>
  <md-list-item>
    <button md-button class="btn-list">
      <md-icon>home</md-icon>&nbsp;&nbsp; Home
    </button>
  </md-list-item>
  <md-list-item>
    <button md-button class="btn-list">
      <md-icon>card_travel</md-icon>&nbsp;&nbsp; Destinos
    </button>
  </md-list-item>
  <md-list-item>
    <button md-button class="btn-list">
      <md-icon>email</md-icon>&nbsp;&nbsp; Contato
    </button>
  </md-list-item>
  <md-divider style="margin: 15px 0px 5px 0px;"></md-divider>
  <h3 md-subheader>Redes sociais</h3>
  <md-list-item>
    <button md-button class="btn-list">
          <img width="22" src="../../assets/images/facebook-black.svg"> &nbsp;&nbsp; Facebook
      </button>
  </md-list-item>
  <md-list-item>
    <button md-button class="btn-list">
          <img width="22" src="../../assets/images/twitter-black.svg"> &nbsp;&nbsp; Twitter
      </button>
  </md-list-item>
  <md-list-item>
    <button md-button class="btn-list">
          <img width="22" src="../../assets/images/snapchat-black.svg"> &nbsp;&nbsp; Snapchat
      </button>
  </md-list-item>
  <md-list-item>
    <button md-button class="btn-list">
          <img width="22" src="../../assets/images/instagram-black.svg"> &nbsp;&nbsp; Instagram
      </button>
  </md-list-item>
  <md-list-item>
    <button md-button class="btn-list">
          <img width="22" src="../../assets/images/spotify-black.svg"> &nbsp;&nbsp; Spotify
      </button>
  </md-list-item>
</md-list>