<footer class="page-footer" style="background: -webkit-gradient(linear, left top, right top, from(#b6b1a5), to(rgba(0, 0, 0, 0.33))) no-repeat !important;; 
                                   background: -moz-linear-gradient(top, #b6b1a5, rgba(0, 0, 0, 0.33));">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="80" style="height: 100px;">
      <div fxFlex="50" fxLayoutAlign="center center">
        <div fxLayout="column">
          <!-- <h5 class="white-text">Footer Content</h5> -->
          <!-- <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
        </div>
      </div>
      <div fxFlex="50" fxLayoutAlign="center center">
        <div fxLayout="column">
           
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Thais Trindade
    </div>
  </div>
</footer>